.about{
    padding: 20px 130px 0px 130px;
    min-height: 100vh;
}
.about h1{
    font-size: 64px;
    font-weight: 800;
    letter-spacing: -2px;
    line-height: 80px;
    color:var(--text)
}
.about p{
    font-size: 24px;
    color: var(--text);
    margin: 10px 0px;
    line-height: 28px;

}
.about video{
    align-items: center;
    
}
#root > div > div.about > .video{
    display:flex;
    justify-content:center;
    margin-top:30px;
}

@media only screen and (max-width: 600px){

    .about{
        padding: 10px 20px;
    }
    .about h1{
        font-size: 42px;
    }
    #root > div > div.about > div{
        margin: 0;
    }
    #root > div > div.about > div > video{
        width: 100%;
        margin: 0;
    }
}