.domain{
    min-height: 100vh;
    padding: 30px 116px;
}
.domain h1{
    font-size: 64px;
    font-weight: 800;
    letter-spacing: -2px;
    line-height: 80px;
    color:var(--text);
    
}
.domain__mobile{
    display: none;
}
.domain .domain__lappy .card{
    height: 300px;
    color:var(--text);
    background-color: #3C3B4D;
    width: 90%;
    height: 400px;
    padding: 30px ;
}
#root > div > div.domain .domain__lappy > div > div> div > ul > li{
    border-width: 20px 30px 30px 30px;
   border-color: var(--back);
   border-style: solid;
}
.domain .domain__lappy .card h1{
    font-size: 36px;
}
.domain .domain__lappy .card p{
    font-size: 24px;
line-height: 28px;
margin-top: 20px;
}
.alice-carousel__prev-btn-item, .alice-carousel__next-btn-item{
    font-size: 30px;
    color: white;
}
.alice-carousel__dots{
    margin-top: 0px;
}


@media only screen and (max-width: 700px){
    .domain{
        padding: 20px 0px 20px 0px
    }
    .domain h1{
        font-size: 42px;
        padding: 0px 20px;
    }
    .domain .domain__lappy .card{
        height: 380px;
        width: 90%;
        padding: 20px;
    }
    .domain .domain__lappy .card p{
        font-size: 20px;
        margin-top: 0;
    }
    #root > div > div.domain .domain__lappy > div > div> div > ul > li{
        border-width: 10px 20px 20px 20px;
       border-color: var(--back);
       border-style: solid;
    }
    .domain .domain__lappy .card h1{
        font-size: 28px;
        padding: 0;
    }
    #root > div > div.domain .domain__lappy > div > div> div > ul > li> div > div > img{
        height: 34px;
        width: 34px;
    }
    .domain__mobile{
        display: none;
    }

    
}

@media only screen and (min-width:700px) and (max-width: 1215px) {
    .domain__lappy{
        display: none;
    }
    .domain__mobile{
        display: block;
    }
    .domain{
        padding: 20px 0px 20px 60px;
    }
    .domain .domain__mobile .card{
        height: 380px;
        width: 90%;
        padding: 20px;
        color: var(--text);
    }
    .domain .domain__mobile .card p{
        font-size: 20px;
        margin-top: 0;
    }
    .domain .domain__mobile .card h1{
        font-size: 28px;
        padding: 0;
    }
    #root > div > div.domain .domain__mobile > div > div> div > ul > li> div > div > img{
        height: 34px;
        width: 34px;
    }
    .alice-carousel__prev-btn-item, .alice-carousel__next-btn-item{
        font-size: 30px;
        color: white;
    }
    .domain .domain__mobile .card{
        height: 300px;
        color:var(--text);
        background-color: #3C3B4D;
        width: 90%;
        height: 350px;
        padding: 30px ;
    }
    #root > div > div.domain .domain__mobile > div > div> div > ul > li{
        border-width: 10px 20px 20px 20px;
       border-color: var(--back);
       border-style: solid;
    }
}