.card-stretch{
    padding: 0px 110px;
    display: flex;
 
    justify-content: space-between;
    align-items: flex-start;
    height: auto;
}
.card-deets{
    flex: 0 0 auto;
    height: 100%;
    max-width: 50%;
    color: var(--text);
    text-align: left;

    
 
}
.card-deets p{
    font-size: 36px;
    padding: 20px ;
}
.card-deets h1{
    font-size: 56px;
    padding: 20px 0px 0px 20px;
}
.card-img-div{
    flex: 0 0 auto;
    height: 100%;
    width: 50%;
}
.card-img{
    height: 100%;
    width: 100%;
}
.mobile{
    display: none;
}



@media only screen and (max-width: 800px){

    .card-stretch{
        padding: 0px 20px;
        display: flex;
        margin: 80px 0px;
        justify-content: space-between;
        align-items: center;
        height: auto;
        flex-direction: column ;
    }
    .mobile{
        display: block;
    }
    .lappy{
        display: none;
    }
    .card-deets{
        flex: 0 0 auto;
        height: 100%;
        max-width: 100%;
        color: var(--text);
        text-align: left;
    
        
     
    }
    .card-deets p{
        font-size: 24px;
        padding: 10px 0px 10px 10px;
    }
    .card-deets h1{
        font-size: 42px;
        padding: 10px 0px 0px 10px;
    }
    .card-img-div{
        flex: 0 0 auto;
        height: 100%;
        width: 100%;
    }
    .card-img{
        height: 100%;
        width: 100%;
    }
    h2{
    padding: 0px 10px;
    }

}

@media only screen and (min-width: 800px) and (max-width:1300px){
    .card-stretch{
        padding: 0px 20px;
        display: flex;
        margin: 20px 0px;
        justify-content: space-between;
        align-items: flex-start;
        height: auto;
    }
    .card-deets{
        flex: 0 0 auto;
        height: 100%;
        max-width: 50%;
        color: var(--text);
        text-align: left;
    
        
     
    }
    .card-deets p{
        font-size: 24px;
        padding: 10px 10px 10px 10px;
    }
    .card-deets h1{
        font-size: 48px;
        padding: 10px 10px 0px 10px;
    }
    .card-img-div{
        flex: 0 0 auto;
        height: 100%;
        width: 50%;
    }
    .card-img{
        height: 100%;
        width: 100%;
    }
    .mobile{
        display: none;
    }
}