.home{
    min-height: 100vh;
    max-width: 100%;
    background-color: var(--back);
    color:var(--text);
    background-image:url('../images/pattern.png');
    background-size: 100% 115%;
    background-repeat: no-repeat;
    background-position: calc(100vw / 1.5) 0px;
    
}
.home .home__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 116px;
}
.home .home__nav .toggle2{
    display: none;
}
.home__left{
    width: 43%;
    padding: 80px 0px 0px 116px
}
.home .home__left h1{
    font-size: 64px;
    font-weight: 800;
    letter-spacing: -2px;
    line-height: 80px;
}
.home .home__left p{
    font-size: 24px;
    font-weight: lighter;
    font-family: Futura;
    letter-spacing: normal;
    margin-top: 20px;
    padding-right: 30%;
}
.home .home__left .home__buttons{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-top: 50px;
}
.home .home__left .home__buttons .home__but2{
    height: 66px;
    width: 204px;
    border: none;
    outline: none;
    color: white;
    font-size: 24px;
    font-weight: normal;
    margin-right: 30px;
    border: 4px solid #3284E2;
    background-color: transparent;
    cursor: pointer;
}
.home .home__left .home__buttons .home__but1{
    height: 66px;
    width: 127px;
    background-color: var(--primary);
    border: none;
    outline: none;
    color: white;
    font-size: 28px;
    font-weight: normal;
    margin-right: 30px;
    cursor: pointer;
}

@media only screen and (max-width: 600px){
    .home{
            background-image: none;
    }
    .home__left{
        width: 90%;
        padding:10px  20px;
    }
    .home .home__nav{
        padding:20px;
    }
    .home .home__left h1{
        font-size: 42px;
    }
    .home .home__nav img{
        height: 32px;
        width: 90px;
    }
    .home .home__nav .toggle2{
        display: block;
        height: 34px;
        width: 34px;
    }
    .home .home__nav .toggle{
        height: 34px;
        width: 34px;
        display: none;
    }
    .home .home__left p{
        padding: 0;
    }
    .home .home__left .home__buttons .home__but1,.home .home__left .home__buttons .home__but2{
        height: 56px;
    }
    .home .home__left .home__buttons .home__but2{
        width:160px
    }
}
@media only screen and (min-width:600px) and (max-width: 1215px){
    .home__left{
        padding: 20px 60px;
        width: 80%;
    }
    .home .home__left h1{
        font-size: 56px;
    }
    .home .home__left .home__buttons .home__but2{
        width:160px
    }
}