#slider__main{
    -webkit-transition: 0.5s ease-in-out all;
  -moz-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
  transition: 0.5s ease all;

    height: 100vh;
    width: 100%;
    right: -100%;
    top: 0;
    
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: space-between;
    

}
#slider__main .click{
    width: 60%;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
}
#slider__main #close{
    right: 0;
    top: 0;
    float: right;
    font-size: 24px;
    cursor: pointer;
    color: var(--text);
}
.slider__content{
    height: 100vh;
    background-color: #25242E;
    width: 40%;
    padding: 50px;
}
.slider__content .slider{
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
  

}
.slider__content .slider h2{
    font-weight: normal;
    color: #858383;
    text-align: left;

    font-size: 56px;
    
}
.slider__content .slider .slider__first .links{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
       margin: 24px 0px;
}
.slider__content .slider .slider__first .links a{
    text-decoration: none;
    color: var(--text);
    font-size: 48px;
    
 
}

.slider__content .slider .slider__second .pages{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 24px 0px;
}
.slider__content .slider .slider__second .pages a{
    text-decoration: none;
    color: var(--text);
    font-size: 48px;
    font-weight: bolder;
 
}
.slider__content .slider__email{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    font-size: 24px;
    color: var(--text);
}
.slider__content .slider__email p a{
    text-decoration: none;
    color: var(--text);
}

@media only screen and (max-width: 600px){
    #slider__main{
        width: 100%
        
    }

    .slider__content .slider .slider__first .links a{
    
        font-size: 36px;
     
    }
    #slider__main .click{
        width: 0%;
        height: 100vh;
        background-color: rgba(0,0,0,0.3);
    }
    .slider__content{
        height: 100vh;
        background-color: #25242E;
        width: 100%;
        padding: 20px;
    }
    .slider__content .slider {
        padding-top: 30px;
    }
    .slider__content .slider h2{
        font-weight: normal;
        color: #858383;
        text-align: left;
    
        font-size: 48px;
        
    }
   
    .slider__content .slider .slider__second .pages a{
        text-decoration: none;
        color: var(--text);
        font-size: 36px;
        font-weight: bolder;
     
    }
}